<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Write Doodle Home</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <p>Y'all mothafuckas wanna write a doodle?</p>
    <p>Type some cool shit</p>
    <input id="texti" title="mike"/>
    <br>
    <canvas id="drawing"></canvas>
    <script src="{{ url_for('static', filename='writedoodle.js')}}"></script>
    <!--<input id="inputDatabaseName" onchange="youFunction();"-->
    <!--onkeyup="this.onchange();" onpaste="this.onchange();" oninput="this.onchange();"/>-->
</body>
</html>